@model TesteDesenvolvedor.Models.Cliente;

@{
    ViewData["Title"] = "Editar cliente";
}

<h2>Editar Cliente</h2>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" /> 
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-dark btn-sm" />
                <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
        </form>
        </hr>
    </div>
</div>
<br>


