@model TesteDesenvolvedor.Models.Imovel;

@{
    ViewData["Title"] = "Cadastrar novo imovel";
}

<h2>Cadastro de Imóveis</h2>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="TipoNegocio" class="control-label"></label>
                <input asp-for="TipoNegocio" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="ValorImovel" class="control-label"></label>
                <input asp-for="ValorImovel" class="form-control" /> 
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-sm" /> |
                <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
        </form>
        </hr>
    </div>
</div>
<br>


