@model TesteDesenvolvedor.Models.Imovel;

@{
    ViewData["Title"] = "Editar imovel";
}

<h2>Editar Imóvel</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div class="form-group">
                <label asp-for="TipoNegocio" class="control-label">Tipo de Anúncio</label>
                <select asp-for="TipoNegocio" class="form-select" aria-label="Default select example">
                    <option selected>Selecione</option>
                    <option value="Aluguel">Aluguel</option>
                    <option value="Venda">Venda</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label">Anunciante</label>
                <input asp-for="Cliente" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ValorImovel" class="control-label">Valor</label>
                <input asp-for="ValorImovel" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary btn-sm" /> |
                <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
        </form>
        </hr>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="DataPublicacao" class="control-label">Data de Publicação</label>
            <input asp-for="DataPublicacao" type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Endereco" class="control-label">Endereço</label>
            <input asp-for="Endereco" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label">Descrição</label>
            <textarea asp-for="Descricao" class="form-control" rows="3" placeholder="Sobre o imóvel..."></textarea>
        </div>
    </div>
</div>


